/* Google Font 
font-family: 'Codystar', cursive; --> This font is dotted and should be used for headers only
Fonts that can be matched with Codystar
font-family: 'Montserrat', sans-serif; 
font-family: 'Open Sans', sans-serif;
font-family: 'Lobster', cursive;

 */
body{
   font-family: 'Lobster', cursive; 
   color: rgb(0, 206, 150);
   
}
.gameTitle{
    /* border: solid black; */
    display: block;
    /* width: 300px; */
    font-family: 'Codystar', cursive;
    font-size: 6em;
    overflow-wrap: break-word;
    color: whitesmoke;
    font-weight: 400;
}
#rainbowBg{
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    //source: https://stackoverflow.com/questions/40557461/rainbow-gradient-on-text-in-css

}

.row{
    /* background-color: aqua; */
    /* border: solid black; */
}

.col-6{
    background-color: rgba(0, 253, 251, 0.411);
    /* border: solid black; */
    align-items: center;
    height: 100px;
}

.clueHeader{
    background-color: rgba(0, 206, 150, 0.5);
    /* border: solid black; */
    justify-self: auto;
}
.clueHeader{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Codystar', cursive;
    
}
#footer{
    background: rgb(226, 229, 231);
    font-size: 30px;

}
.emptySpace{
    padding: 50px;
}





/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
